name: On pull request

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      CI: true
    outputs:
      results: ${{ steps.ci.outputs.results }}
    strategy:
      matrix:
        node-version: [14.x, 16.x]
    steps:
    - uses: actions/checkout@v1
    - id: ci
      uses: ./.github/actions/ci

  post_errors_onto_pr:
    name: Post errors onto PR
    if: contains(needs.ci.outputs.results, 'failing')
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: Comment on PR
        uses: thollander/actions-comment-pull-request@v1.5.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          message: |
            ❌ CI **FAILED** with the following output:

            ```
            ${{ needs.ci.outputs.results }}
            ```

  post_success_onto_pr:
    name: Post success message onto PR
    if: ${{ !contains(needs.ci.outputs.results, 'failing') }}
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: Comment on PR
        uses: thollander/actions-comment-pull-request@v1.5.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          message: |
            ✅ CI **PASSED** with the following output:

            ```
            ${{ needs.ci.outputs.results }}
            ```
